<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index</title>

    <link rel="stylesheet" href="../static/layui/css/layui.css">
    <link rel="stylesheet" href="../static/css/view.css">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">

<script type="text/JavaScript" src="{{ url_for('static',filename='/js/jquery-3.5.1.js') }}"></script>

</head>

<body class="layui-layout-body"  >


<div class="layui-layout layui-layout-admin">

    <div class="layui-header">
        <div class="layui-logo"><i class="layui-icon" >&#xe65d;</i>  宿舍监控管理系统</div>

        <ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item" >
                <a href="javascript:;" name="side"><i class="layui-icon">&#xe668;</i></a>
            </li>
        </ul>

        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item"><a href="/main"><i class="layui-icon" style="font-size: 20px;">&#xe68e;</i>&nbsp home</a></li>

            <li class="layui-nav-item"><a href="/exit"><i class="layui-icon" style="font-size: 15px; color: #1E9FFF;">&#xe682;</i>退出</a></li>
        </ul>
    </div>

{#侧边栏#}
    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree"  lay-filter="test">
                <li class="layui-nav-item layui-nav-itemed">
                    <a  href="login"><i class="layui-icon" >&#xe68e;</i>  <span>查看宿舍</span></a>
                    <dl class="layui-nav-child">
                        <dd><a href="weather"><i class="layui-icon" >&#xe68c;</i>  <span>宿舍状态</span></a></dd>
{#                        <dd><a href="roomstatus"><i class="layui-icon" >&#xe68c;</i>  <span>宿舍状态</span></a></dd>#}
{#                        <dd><a href="#"><i class="layui-icon" >&#xe613;</i>  <span>宿舍成员</span></a></dd>#}
{#                       <dd><a href="records"><i class="layui-icon" >&#xe6ed;</i>  <span>监控记录</span></a></dd>#}
                    </dl>
                </li>
                <li class="layui-nav-item layui-nav-itemed">
                    <a href="#"><i class="layui-icon" >&#xe665;</i>  <span>设备管理</span></a>
                    <dl class="layui-nav-child">
                        <dd><a href="viewMonitor"><i class="layui-icon" >&#xe6af;</i>  <span>查看监控</span></a></dd>
{#                        <dd><a href="#"><i class="layui-icon" >&#xe654;</i>  <span>新增设备</span></a></dd>#}
                    </dl>
                </li>

{#                <li class="layui-nav-item"><a href="#"><i class="layui-icon" >&#xe615;</i>  <span>信息查询</span></a></li>#}
{#                <li class="layui-nav-item">#}
{#                    <a href="personInfo">#}
{#                        <i class="layui-icon" >&#xe66f;</i>  #}
{#                        <span>个人信息</span></a>#}
{#                </li>#}

            </ul>
        </div>
    </div>

{#监控信息#}
    <div class="container__monitor">
         <canvas width="300" height="300" id = "face_recognize">
              <video width="300" height="300" id = "myvideo"></video>
          </canvas>    <!--画布-->
          <!--canvas不能用CSS修饰，用CSS修饰宽高只是拉伸，并没有对内容进行适应-->
    </div>
        <script>
        openCamera();
        myvideo = document.getElementById("myvideo")        /* 通过id取出myvideo元素*/
        function openCamera(){
            cons = {
                video:{
                    width:300,
                    height:300
                }
            }
            /* 取电脑的摄像头*/
            video = navigator.mediaDevices.getUserMedia(cons)
            /* 将myvideo标签与硬件摄像头相关联*/
            video.then(
                function (videoStream){
                    myvideo.srcObject = videoStream
                    myvideo.play()  /*play() 方法开始播放当前的音频或视频。*/
                }
            )
        }

        var flag=0;
        sum();
        function sum()
        {
            if(flag<1000){
                takePhoto();
                flag++;
            }else{
                return false;
            }
    //				setTimeout中函数不能有参数，可用function(){}
    //				setTimeout(function(){sum()},1000);
            setTimeout(sum,50);
        }

        function takePhoto(){
            canvas = document.getElementById("face_recognize")
            context  = canvas.getContext("2d")  /* 画2d平面图*/
            context.drawImage(myvideo,0,0,300,300)  /* 图片，x，y，宽，高*/
            /* 用jquery的ajax技术实现前后端的通信*/
            face_data = canvas.toDataURL()      /* 把canvas里的图打印成数据*/
            face_data = face_data.substring(22)     /* 因为前22位数字是描述信息，不必上传*/
            /* data:image/png;base64,*/
            $.post("/put_data",{"myimg":face_data},function (info){
                if (info.result === "true"){
                    console.log("123");
                    window.location.replace("main");
                }
            })}


    </script>

    <script type="text/javascript">
        function viewVideo() {
           window.location.href = "video";
        }
    </script>

</div>

<div class="layui-footer">
    <div class="section"><p><sub>Copyright <a href="http://www.csu.edu.cn">Central South University</a> </sub></p></div>
</div>

<script src="../static/layui/layui.js"></script>


</body>
</html>



