<!DOCTYPE html>
<html>
  <head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.js"></script>
  <link rel="stylesheet" href="../static/css/login.css">
  <style>
    div#bg {
      position: fixed;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      z-index: -10;
      background-position: center 0;
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
      -webkit-background-size: cover;
      -o-background-size: cover;
      zoom: 1;

      opacity:1;
      transition: opacity 1s linear;
      -moz-transition: opacity 1s linear;
      -webkit-transition: opacity 1s linear;
      -o-transition: opacity 1s linear;
    }
    video {
        border:2px solid blue;
    }
    canvas{
        border:2px solid blue;
        position:absolute;left:100%;
    }

  </style>
</head>
  <body>

  <div class="logo">
      <img src="../static/images/logo.png" />
  </div>

  <div class="container">

    <div class="form-box">
      <!-- 注册 开始 -->
      <div class="register-box ">
        <h1>register</h1>
        <input type="text" id="username2" placeholder="用户名" />
        <input type="email" id="email" placeholder="邮箱" />
        <input type="password" id="password2" placeholder="密码" />
        <input type="password" id="password3" placeholder="确认密码" />
        <button id="submit_register" >注册</button>
      </div>
      <!-- 注册 结束 -->



      <!-- 登录盒子 开始 -->
      <div class="login-box hidden">
        <div class="tab-wrap">
          <input type="radio" name="tabs" id="tab1" checked>
          <div class="tab-label-content" id="tab1-content">
            <label for="tab1">用户密码登录</label>
            <div class="tab-content">
              <h1>login</h1>
{#              <input  type="text" id="username1"   placeholder="用户名">#}
{#              <input type="password" id="password1" placeholder="密码">#}
{#              <button id="submit_login">登录</button>#}
                <form method="post" action="{{ url_for('login') }}">
                    <input type="text" placeholder="用户名" name = 'username'>
                    <input type="password" placeholder="密码" name = 'password'>
                    <button>登录</button>
                </form>
            </div>
          </div>





          <input type="radio" name="tabs" id="tab2">
          <div class="tab-label-content" id="tab2-content">
            <label for="tab2">人脸识别登录</label>
            <div class="tab-content">
              <div id="face-box">
                  <canvas width="300" height="300" id = "face_recognize">
                      <video width="300" height="300" id = "myvideo"></video>
                  </canvas>    <!--画布-->
                  <!--canvas不能用CSS修饰，用CSS修饰宽高只是拉伸，并没有对内容进行适应-->
              </div>
            </div>
          </div>
        </div>

      </div>
    <script>
        var face_recognize = document.getElementById('tab2');
        face_recognize.onclick=function (){
            openCamera();
        }
        myvideo = document.getElementById("myvideo")        /* 通过id取出myvideo元素*/
        function openCamera(){
            cons = {
                video:{
                    width:300,
                    height:300
                }
            }
            /* 取电脑的摄像头*/
            video = navigator.mediaDevices.getUserMedia(cons)
            /* 将myvideo标签与硬件摄像头相关联*/
            video.then(
                function (videoStream){
                    myvideo.srcObject = videoStream
                    myvideo.play()  /*play() 方法开始播放当前的音频或视频。*/
                }
            )
        }

        var flag=0;
        sum();
        function sum()
        {
            if(flag<1000){
                takePhoto();
                flag++;
            }else{
                return false;
            }
    //				setTimeout中函数不能有参数，可用function(){}
    //				setTimeout(function(){sum()},1000);
            setTimeout(sum,50);
        }

        function takePhoto(){
            canvas = document.getElementById("face_recognize")
            context  = canvas.getContext("2d")  /* 画2d平面图*/
            context.drawImage(myvideo,0,0,300,300)  /* 图片，x，y，宽，高*/
            /* 用jquery的ajax技术实现前后端的通信*/
            face_data = canvas.toDataURL()      /* 把canvas里的图打印成数据*/
            face_data = face_data.substring(22)     /* 因为前22位数字是描述信息，不必上传*/
            /* data:image/png;base64,*/
            $.post("/put_data",{"myimg":face_data},function (info){
                if (info.result === "true"){
                    console.log("123");
                    window.location.replace("main");
                }
            })}


    </script>
      <!-- 登录盒子 结束 -->
    </div>

    <div class="con-box left">
      <h2>欢迎登录</h2>
      <br/>
      <h2>宿舍智能监控系统</h2>

      <img src="../static/images/l0g0.jpg" alt="525">
      <p>已有账号</p>
      <button id="login">去登录</button>
    </div>

    <div class="con-box right">
      <h2>欢迎来到</h2>
      <br/>
      <h2>宿舍智能监控系统</h2>

      <img src="../static/images/02.jpg" alt="522">
      <p>没有账号</p>
      <button id="register">去注册</button>
    </div>
  </div>

  <script>
    // 定义图片路径 {num} 为 可变的图片序号
    var bgImgUrl = './images/{num}.jpg', bgNum,
            bgImgArr = [],
            bgDiv = document.getElementById("bg");
    // 组合数组 此处 200 为 图开始序号 结束 210
    for (var i=200; i <= 204; i++){
      bgImgArr.push(bgImgUrl.replace('{num}', i));
    }
    setBGimg();
    function setBGimg(d){
      if(!bgNum || bgNum >= bgImgArr.length) bgNum = 0;
      bgDiv.style.opacity = .001;
      setTimeout(function(){
        bgDiv.style.backgroundImage = 'url('+ bgImgArr[bgNum] +')';
        bgNum++;
        bgDiv.style.opacity = 1;
      }, 1000);
      if(typeof d == 'undefined')
        setInterval(function(){setBGimg(true);}, 6000);
      // 上一行的 6000 是背景图片自动切换时间(单位 毫秒)
    }
  </script>

  <script>
    let login = document.getElementById('login');

    let register = document.getElementById('register');
    let form_box = document.getElementsByClassName('form-box')[0];
    let register_box = document.getElementsByClassName('register-box')[0];
    let login_box = document.getElementsByClassName('login-box')[0];

    register.addEventListener('click', () => {
      console.log('点击了注册事件');
      form_box.style.transform = 'translateX(80%)';
      login_box.classList.add('hidden');
      register_box.classList.remove('hidden');
    })

    login.addEventListener('click', () => {
      console.log('点击了登录事件');
      form_box.style.transform = 'translateX(0%)';
      register_box.classList.add('hidden');
      login_box.classList.remove('hidden')
    })
  </script>


  <script type="text/javascript">
    <!-- 注册开始 -->
    var nameInput2 = document.getElementById("username2");
    var emlInput = document.getElementById("email");
    var pwdInput2= document.getElementById("password2");
    var pwdInput3= document.getElementById("password3");
    var registerBtn = document.getElementById("submit_register");


    <!-- 登录盒子开始 -->
    var nameInput1 = document.getElementById("username1");
    var pwdInput1 = document.getElementById("password1");
    var loginBtn = document.getElementById("submit_login");



    /*var hb1 = document.getElementById("helpBlock1");
    var hb2 = document.getElementById("helpBlock2");
    var hb3 = document.getElementById("helpBlock3");*/


    $("#loginBtn").click(function (){
      var url = "/show/test_json_login/";
      var data = {
        "username": nameInput1,
        "password": pwdInput1,

      };

      $.ajax({
        url: url,
        data: JSON.stringify(data),
        type: "POST",
        contentType : "application/json",
        dataType: "text",
        traditional: true,
        success: function(data) {
          console.log(data);
          console.log(JSON.parse(data));

        },
        error: function (data) {
          console.log(JSON.parse(data));
        }
      });

    });

    $("#registerBtn").click(function(){
      var obj = JSON.stringify({'username':nameInput2,'email':emlInput,'password':pwdInput2,'repear_password':pwdInput3,'description':'这是一个测试'});
      alert(obj);

      //后台使用对象的形式接受
      $.ajax({
        url: "testJsonOne_register",
        type: "post",
        data: obj,
        contentType: 'application/json;charset=utf-8',
        success : function(data){
          alert("haha");
        }
      });

    });
//tips
/*当登录密码或账号错误时，
* layer.open({
  title: '在线调试'
  ,content: '密码错误/（用户名错误）'
});     */

  </script>

  </body>
</html>




{##}
{#<!DOCTYPE html>#}
{#<html>#}
{#  <head>#}
{#    <meta charset="UTF-8">#}
{#    <meta http-equiv="X-UA-Compatible" content="IE=edge">#}
{#    <meta name="viewport" content="width=device-width, initial-scale=1.0">#}
{#    <title>login</title>#}
{##}
{#    <link rel="stylesheet" href="../static/css/login.css">#}
{#  </head>#}
{#  <body>#}
{#  <div class="container">#}
{#    <div class="form-box">#}
{#    #}
{#      <!-- 注册 开始 -->#}
{#      <div class="register-box ">#}
{#        <h1>register</h1>#}
{#        {% for message in get_flashed_messages() %}#}
{#          <p>{{ message }}</p>#}
{#        {% endfor %}#}
{#        <form action="{{ url_for('register') }}" method = "post">#}
{#          <input type="text" placeholder="用户名" name = 'username'/>#}
{#          <input type="email" placeholder="邮箱" name = 'email'/>#}
{#          <input type="password" placeholder="密码" name = 'password'/>#}
{#          <input type="password" placeholder="确认密码" name = 'confirmPassword'/>#}
{#          <input type="submit" value="注册"/>#}
{#        </form>#}
{#      </div>#}
{#      <!-- 注册 结束 -->#}
{##}
{#      <!-- 登录盒子 开始 -->#}
{#      <div class="login-box hidden">#}
{#        <h1>login</h1>#}
{#        {% for message in get_flashed_messages() %}#}
{#            <div class=flash>{{ message }}</div>#}
{#        {% endfor %}#}
{#        <form method="post" action="{{ url_for('login') }}">#}
{#          <input type="text" placeholder="用户名" name = 'username'>#}
{#          <input type="password" placeholder="密码" name = 'password'>#}
{#          <button>登录</button>#}
{#        </form>#}
{#      </div>#}
{#      <!-- 登录盒子 结束 -->#}
{#    </div>#}
{##}
{#    <div class="con-box left">#}
{#      <h2>欢迎来到#}
{#        <span>宿舍管理系统</span>#}
{#      </h2>#}
{#      <p>据此您可管理自己的#}
{#        <span>寝室</span>#}
{#      </p>#}
{#      <img src="../static/images/1.jpg" alt="525">#}
{#      <p>已有账号</p>#}
{#      <button id="login">去登录</button>#}
{#    </div>#}
{##}
{#    <div class="con-box right">#}
{#      <h2>欢迎来到<span>宿舍管理系统</span></h2>#}
{#      <p>据此您可管理自己的<span>寝室</span></p>#}
{#      <img src="../static/images/02.jpg" alt="522">#}
{#      <p>没有账号</p>#}
{#      <button id="register">去注册</button>#}
{#    </div>#}
{#  </div>#}
{##}
{##}
{##}
{#  <script>#}
{#    let login = document.getElementById('login');#}
{##}
{#    let register = document.getElementById('register');#}
{#    let form_box = document.getElementsByClassName('form-box')[0];#}
{#    let register_box = document.getElementsByClassName('register-box')[0];#}
{#    let login_box = document.getElementsByClassName('login-box')[0];#}
{##}
{#    register.addEventListener('click', () => {#}
{#      console.log('点击了注册事件');#}
{#      form_box.style.transform = 'translateX(80%)';#}
{#      login_box.classList.add('hidden');#}
{#      register_box.classList.remove('hidden');#}
{#    })#}
{##}
{#    login.addEventListener('click', () => {#}
{#      console.log('点击了登录事件');#}
{#      form_box.style.transform = 'translateX(0%)';#}
{#      register_box.classList.add('hidden');#}
{#      login_box.classList.remove('hidden');#}
{#    })#}
{#  </script>#}
{#  <script type="text/javascript">#}
{#  function hidengonggao(){#}
{#        document.getElementById('flash').style.display='none';#}
{#  };#}
{#  setTimeout(hidengonggao,1500);#}
{##}
{#  </script>#}
{#  </body>#}
{#</html>#}
