<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>个人页面</title>
    <meta name="theme-color" content="#ffc91d"/>
    <link rel="icon" href="../static/images/favicon.ico" />
    <link href="../static/css/personal.css" rel="stylesheet" type="text/css"/>
    <link href="../static/css/Biography.css" rel="stylesheet" type="text/css"/>
    <link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
    <meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1"/>
</head>
<body>
<aside class="sidebar">
    <div class="avatar">
        <img src="../static/images/person2.jpg" title="_person_"/>
    </div>
    <nav class="nav">
        <a href="/main">首页</a>
        <a href="#info2">个人资料</a>

        <a href="#works2">个人爱好</a>
        <a href="#story2">个人经历</a>

    </nav>
</aside>
<main>
    <section id="info2">
        <div class="wrap">
            <h2 class="title">个人资料</h2>
            <div class="row">
                <div class="col-l-4">
                    <p>姓名：麻小鹏</p>
                    <p>性别：男</p>
                    <p>年龄：19</p>
                    <p>英文名：maxiaopeng</p>
                    <p>学历：本科</p>
                </div>
                <div class="col-l-4">
                    <p>QQ：5432369</p>
                    <p>小破站：<a href="https://www.bilibili.com/">哔哩哔哩 (゜-゜)つロ 干杯~-bilibili</a></p>
                    <p>微信：<a href="">wixd_maxiaopeng</a></p>
                    <p>邮箱：<a href="">2629865856@qq.com</a></p>
                </div>
                <div class="col-l-4">
                    <p>我是一个热爱软件工程专业的中南学子，我对计算机编程有极大的兴趣，但是我更喜欢rap、篮球还有music，我最喜欢的音乐是鸡你太美！希望大家能和我一起努力成为一名优秀的软件练习生！</p>
                </div>
            </div>
        </div>
    </section>

    <section id="skills2">

    </section>

    <section id="works2">
        <div class="wrap">
            <h2 class="title">个人爱好</h2>
            <div class="row">
                <div class="col-s-6">
                    <div class="works-item">
                        <img src="../static/images/works/web6.jpg"/>
                        <p>算法</p>
                    </div>
                </div>
                <div class="col-s-6">
                    <div class="works-item">
                        <img src="../static/images/works/web7.jpg"/>
                        <p>小破站</p>
                    </div>
                </div>
                <div class="col-s-6">
                    <div class="works-item">
                        <img src="../static/images/works/web8.png"/>
                        <p>Python</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="blank2">

    </section>
    <section id="story2">
        <div class="wrap">
            <h2 class="title">个人经历</h2>
            <div class="row">
                <div class="col-m-8">
                    <ul class="timeline">
                        <li>2020.09：步入中南大学 </li>
                        <li>2020.12: 参加湖南省化工模拟大赛 </li>
                        <li>2021.07: 参加中南大学化学竞赛 </li>
                        <li>2022.4: 成为一名优秀的flask架构师 </li>


                        <li>---</li>
                    </ul>
                </div>
                <div class="col-m-4 center-fixed">
                    <img src="../static/images/story.png"/>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <p>© 2022  <a href="" title="Chien_W的博客" target="_blank"></a>. 5 . 1</p>
    </footer>
</main>

<script src="../static/js/personal.js"></script>
<script src="../static/js/Biography.js"></script>
<script src="../static/js/Sakura.js"></script>

<!-- 网易云音乐 -->
<embed frameborder="no" border="0" marginwidth="0" marginheight="0" width=0 height=0 src="//music.163.com/outchain/player?type=0&id=4950890732&auto=1&height=0"></embed>
</body>
</html>