<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>userinformtion</title>
    <link rel="stylesheet" href="../static/css/userInfo.css">
    <meta charset="UTF-8">
    <title>videoCamera</title>
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.js"></script>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>

<div class="user-from-box">
    <div class="user-box">
    <form method="post"  class="user-info"  action="{{ url_for('user_edit') }}">

    <h1>
        用户信息
    </h1>

        <table style="text-align:center;vertical-align:middle;">

            <div >

                <img class="img__circle" src="../static/images/quin.jpg">

            </div>


            <div ><span>姓名：</span>
{#                <input type="text"   readonly="readonly"  value="王小美" name = 'username' placeholder="用户名">#}
                <input type="text"   readonly="readonly"  value="{{ username }}" name = 'username'></td>
            </div>

            <div><span>性别：</span>

                <select id="group" value="1">
                    <option value="1">男</option>
                    <option value="2">女</option>
                </select>
            </div>

            <div><span>年龄：</span>
                <input type="text"     value="20" name = 'age' >
            </div>

            <div><span>邮箱：</span>
                <input type="text"     value="{{ email }}" name = 'email'>
{#                <input type="text"     value="8402200326@csu.cn" name = 'email'>#}
            </div>

            <div><span>QQ：</span>
                <input type="text"     value="16202789" name = 'qq'>
            </div>

            <div><span>微信：</span>
                <input type="text"     value="8204202626@csu.cn" name = 'wechat'>
            </div>

             <div><span>密码：</span>
                <input type="password" value="{{ password }}"    name = 'password'>
            </div>

             <div><span>确认密码：</span>
                <input type="password" value="{{ passwordrpt }}" name = 'passwordrpt'>
            </div>

            <div style="width: 100%;height: 100px;text-align:center;">
                <button type="submit" style="width: 200px;">保存信息</button>
{#                <button type="submit" style="width: 200px;">保存修改</button>#}
                <button type="button" style="width:200px;" id = "store_face">人脸信息</button>
            </div>
            <div id="face">
                <canvas  width="300" height="300" id = "face_recognize">
                    <video  width="300" height="300" id = "userVideo"></video>
                </canvas>    <!--画布-->
            </div>

        </table>







    </form>
    </div>
</div>

    <script>

        {#document.getElementById("#face").style.display="none";#}
        var faceButton = document.getElementById("store_face");
        faceButton.onclick = function (){
            {#document.getElementById("#face").style.display="block";#}
            openCamera();
        }
        userVideo = document.getElementById("userVideo")        /* 通过id取出userVideo元素*/
        function openCamera(){
            cons = {
                video:{
                    width:300,
                    height:300
                }
            }
            /* 取电脑的摄像头*/
            video = navigator.mediaDevices.getUserMedia(cons)
            /* 将userVideo标签与硬件摄像头相关联*/
            video.then(
                function (videoStream){
                    userVideo.srcObject = videoStream
                    userVideo.play()  /*play() 方法开始播放当前的音频或视频。*/
                }
            )
        }

        var flag=0;
        sum();
        function sum()
        {
            if(flag<1000){
                takePhoto();
                flag++;
            }else{
                return false;
            }
    //				setTimeout中函数不能有参数，可用function(){}
    //				setTimeout(function(){sum()},1000);
            setTimeout(sum,50);
        }

        function takePhoto(){
            canvas = document.getElementById("face_recognize")
            context  = canvas.getContext("2d")  /* 画2d平面图*/
            context.drawImage(userVideo,0,0,300,300)  /* 图片，x，y，宽，高*/
            /* 用jquery的ajax技术实现前后端的通信*/
            face_data = canvas.toDataURL()      /* 把canvas里的图打印成数据*/
            face_data = face_data.substring(22)     /* 因为前22位数字是描述信息，不必上传*/
            /* data:image/png;base64,*/
            $.post("/store_face",{"user_img":face_data},function (info){
                if (info.result === "true"){

                    console.log("123");
                    window.location.replace("main");
                }
            })}

    </script>


</body>
</html>

{# <html lang="zh-CN">#}
{##}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <meta http-equiv="X-UA-Compatible" content="IE=edge">#}
{#    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">#}
{#    <title>userinformtion</title>#}
{#    <link rel="stylesheet" href="../static/css/userInfo.css">#}
{#</head>#}
{##}
{#<body>#}
{#<div class="user-box">#}
{#    <form method="post"  class="user-info" action="{{ url_for('user_edit') }}">#}
{#    <form method="post" action="{{ url_for('user_edit') }}">#}
{#    <h1>#}
{#        用户信息#}
{#    </h1>#}
{##}
{#        {% for message in get_flashed_messages() %}#}
{#        <div class=flash>{{ message }}</div>#}
{#         {% endfor %}#}
{##}
{#        <table style="text-align:center;vertical-align:middle;">#}
{##}
{#            <div >#}
{##}
{#                <img class="img__circle" src="../static/images/quin.jpg">#}
{##}
{#            </div>#}
{##}
{##}
{#            <div ><span>姓名：</span>#}
{#                <td><input type="text"   readonly="readonly"  value="{{ username }}" name = 'username'></td>#}
{#                <input type="text"   readonly="readonly"  value="王小美" name = 'username' placeholder="用户名">#}
{#            </div>#}
{##}
{#            <div><span>性别：</span>#}
{##}
{#                <select id="group" value="1">#}
{#                    <option value="1">男</option>#}
{#                    <option value="2">女</option>#}
{#                </select>#}
{#            </div>#}
{##}
{#            <div><span>年龄：</span>#}
{#                <input type="text"     value="20" name = 'age' >#}
{#            </div>#}
{##}
{#            <div><span>邮箱：</span>#}
{#                 <td><input type="text"     value="{{ email }}" name = 'email'></td>#}
{#                <input type="text"     value="8402200326@csu.cn" name = 'email'>#}
{#            </div>#}
{##}
{#            <div><span>QQ：</span>#}
{#                <input type="text"     value="16202789" name = 'qq'>#}
{#            </div>#}
{##}
{#            <div><span>微信：</span>#}
{#                <input type="text"     value="8204202626@csu.cn" name = 'wechat'>#}
{#            </div>#}
{##}
{#            <tr>#}
{#                <button type="submit">提交</button>#}
{#            </tr>#}
{##}
{#            <div style="width: 100%;height: 100px;text-align:center;">#}
{#                <button type="submit" style="width: 200px;">保存修改</button>#}
{#                <button type="submit" style="width:200px;">人脸认证</button>#}
{#                <button type="submit" style="width:200px;">暂无功能</button>#}
{#            </div>#}
{##}
{##}
{#        </table>#}
{#    </form>#}
{#    </div>#}
{##}
{##}
{##}
{##}
{#</body>#}
{#</html>#}
